*.o
*.swp
*.SFO
*.PBP
*.prx
*.dll
*.lib
*.pdb
*.manifest
*.map
*.exp
*.dylib
*.so
*.a
tags
cscope.out
config.mak
config.log
cpu/musashi/m68kmake
cpu/musashi/m68kops.c
cpu/musashi/m68kops.h
config.cfg
log.txt
skin
srm/
brm/
mds/
rom/
rom_extra/
cfg/
libs/
obj/
release*/
.opk_data
.od_data
PicoDrive
picodrive
picodrive_libretro*
PicoDrive*.opk
PicoDrive*.ipk
PicoDrive*.zip
PicoDrive*.elf
pico_int_offs.h
amalgamate
textfilter
.vscode/
